html, body {
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #09C;
	text-align: center;
}

input {
	border: 1px solid #09C;
	margin: 30px;
}

input[type="text"] {
	width: 300px;
	height: 30px;
}

input[type="password"] {
	width: 300px;
	height: 30px;}

input[type="submit"] {
	width: 300px;
	height: 30px;
}

label {
	font-weight: normal;
	font-family: Arial;
}

#login-panel {
	width: 500px;
	align-content: center;
	margin-left: 300px;
	margin-top: 20px;
	padding: 25px;
	background: #fff;
}